{% extends 'base.html' %}
{% block content %}

    {% block event_title %}

    {% endblock %}
    <div class="row">
        <div class="col-md-2"></div>
        <div class="form-group event-time col-md-8">
            <div>
                <h3 class="headline first-child"><span class="fa fa-calendar"> 日期属性</span></h3>
                <p>限制分析的时间间隔。分析的最早时间为1979年，最近时间为今天。格式如：2010-02-02。</p>
                <p>当前数据库时间范围：</p>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label for="start_time"><h4>选择日期：<span class="star">*</span></h4></label>
                    <input type="date" class="form-control" name="start" id="start" placeholder="输入日期">
                </div>
                <div class="col-md-6">
                    <label for="start_time"><h4>选择日期：<span class="star">*</span></h4></label>
                    <input type="date" class="form-control" name="end" id="end" placeholder="输入日期">
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>

    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="form-group event-time col-md-8">
            <div class="row">
                <div class="col-md-8">
                    <h3 class="headline first-child"><span class="fa fa-street-view"> 角色属性</span></h3>
                    <p>选择事件相关的角色类型。事件的角色是通过角色1作用于角色2来进行编码的。</p>
                    <p>用户选择角色1，则展示以角色1为主体的事件；选择角色2，则展示角色2为受体的事件。</p>
                </div>
                <div class="col-md-4">
                    <button id="add_button" onclick="click2()" class="btn btn-primary" style="margin-top: 30px">
                        <span class="fa"></span> 添加
                    </button>
                </div>
            </div>
            <div class="row" id="actor_div">
                <div class="col-md-6">
                    <label for="actor1_country" class="control-label"><h4>角色1</h4></label>
                    <input type="text" class="form-control" name="actor1_1" id="actor1_1" placeholder="actor1">
                </div>
                <div class="col-md-6">
                    <label for="actor2_country" class="control-label"><h4>角色2</h4></label>
                    <input type="text" class="form-control" name="actor1_2" id="actor1_2" placeholder="actor2">
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>

    <div class="row">
        <div class="col-md-2"></div>
        <div class="form-group event-time col-md-8">
            <div>
                <h3 class="headline first-child"><span class="fa fa-comments"> 事件属性</span></h3>

                <p>确定事件的类型和事件的位置。</p>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label for="event_root_code"><h4>基事件编码</h4></label>
                    <select id="base_code" name="base_code"  class="form-control">
                        <option value="1">口头合作</option>
                        <option value="2">实际合作</option>
                        <option value="3">口头冲突</option>
                        <option value="4">实际冲突</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <label for="event_root_code"><h4>根事件编码</h4></label>
                    <select id="code" name="event_root_code" class="form-control">
                    </select>
                </div>

        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-2"></div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
         <div class="col-md-6">
             <div>
                 <button id="submit_button" type="submit" class="btn btn-lg btn-primary submit-button"><span
                         class="fa fa-check"></span> 提交
                 </button>
             </div>
        </div>
        <div class="col-md-2"></div>
    </div>
    {% block chart %}
    {% endblock %}

{% endblock %}
{% block js %}
    {{ block.super }}
    {% load staticfiles %}
    <script src="{% static 'js/hot_chart.js' %}"></script>
    <script src="{% static 'js/hot_chart2.js' %}"></script>
    <script type="text/javascript" src="{%static "js/echarts.js" %}"></script>
    <script type="text/javascript" src="{%static "js/info_base.js" %}"></script>
    <script type="text/javascript">
    var event_code_map_reverse={1: '官方声明', 2: '上诉', 3: '表达合作意向', 4: '咨询',
                5: '从事外交合作', 6: '开展物质合作', 7: '提供援助', 8: '投降', 9: '研究',
                10: '需求', 11: '反对', 12: '拒绝', 13: '威胁', 14: '抗议', 15: '展示力量部署',
                16: '减少联系', 17: '强迫', 18: '突击', 19: '战斗',20:'非常规大规模暴力'};
    $('#add-date-form').on('click', function () {
            var item = $('#date_form').clone();
            item.css('display',"");
            item.insertBefore($('.add-btn'));
        });
    $("#submit_button").click(function () {
        $('#res1').css('display','none');
        $('#res2').css('display','none');
        $('#res3').css('display','none');
        $(this.span).removeClass("fa-check");
        $(this.span).addClass("fa-spinner fa-spin");
        $(this).text(function(i, text){
          return text = "回溯中....";
      })
        click3();
    });
    $(document).ready(function() {
        $('#event_page').addClass('active');
    });
    $('#base_code').val(-1);
    $('#base_code').change(function () {
        var code=$('#base_code option:selected').val();
        $('#code').empty();
        code=(code-1)*5;
        for(var i=1;i<=5;i++)
        {
            var tmp=code+i;
            option='<option value="'+tmp+'">'+event_code_map_reverse[tmp]+'</option>';
            $('#code').append(option);
        }
    })
    </script>
{% endblock %}
