{% extends 'base_event_res.html' %}
{% load staticfiles %}

{% block title %} {{ analysis_info_chinese_name }} {% endblock %}
{% block content %}
    {% block back-info %}
    {{ block.super }}
    {% endblock %}
    <div class="container">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <h3 class="headline first-child"><span class="fa fa-area-chart"></span></h3>
                <div class="col-md-12">
                    <h1>根类数据时间线</h1>
                    <p>根类数据时间线以时间为单位，展示与时间对应的的根类数据，包括(口头合作)Verbal Cooperation，(物质合作)Material Cooperation，(口头冲突)Verbal Conflict，(物质冲突)Material Conflict 4种数据，形成时间-根类数据变化曲线图。</p>
                </div>
                <div class="col-md-12">
                    <div id="quadclass_graph" style="width: 100%;height: 600px"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{%static "js/echarts.js" %}"></script>
    <script type="text/javascript" src="{%static "js/hot_chart2.js" %}"></script>
    <script>
            ///timeline
            var data={'time': ['20180402', '20180403', '20180404', '20180405', '20180406', '20180407', '20180408', '20180409', '20180410'], 'legend': ['官方声明', '呼吁', '表达合作意向'], 'data': [{'name': '官方声明', 'type': 'line', 'smooth': 'true', 'data': [2, 34, 38, 51, 21, 12, 0, 0, 0, 1]}, {'name': '呼吁', 'type': 'line', 'smooth': 'true', 'data': [0, 1, 3, 10, 5, 12, 0, 0, 0, 0]}, {'name': '表达合作意向', 'type': 'line', 'smooth': 'true', 'data': [5, 27, 30, 23, 20, 25, 0, 0, 0, 0]}]}

            draw_hot_charts('quadclass_graph','数据时间线',data)
    </script>
{% endblock %}