{% extends 'base_event2.html' %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta charset="utf-8">
    <link rel="icon" href="https://static.jianshukeji.com/highcharts/images/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        /* css 代码  */
    </style>
    <script src="https://img.hcharts.cn/jquery/jquery-1.8.3.min.js"></script>
    <script src="https://img.hcharts.cn/highcharts/highcharts.js"></script>
    <script src="https://img.hcharts.cn/highcharts/modules/exporting.js"></script>
    <script src="https://img.hcharts.cn/highcharts/modules/oldie.js"></script>
    <script src="https://img.hcharts.cn/highcharts-plugins/highcharts-zh_CN.js"></script>
    {% load staticfiles %}
    <script src="{% static 'js/info_base.js' %}"></script>
    <script src="{% static 'js/hot_chart2.js' %}"></script>
    <script type="text/javascript" src="{%static "js/echarts.js" %}"></script>
</head>

<body>
    {% block event_title %}
        <div class="row">
        <div class="col-md-2"></div>
        <div class="form-group event-time col-md-8">
            <div>
                <h3 class="headline first-child"><span>查询图谱数据库</span></h3>
                <p>查询图谱数据库系列方案</p>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
    {% endblock %}
    {% block chart %}
        <div class="row" id="res1" style="display: none">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <h3 class="headline first-child"><span class="fa fa-area-chart"></span></h3>
                <div class="col-md-12">
                    <h1>图谱表热度时间线</h1>
                    <h1 id="numall7">回溯总量:0</h1>
                    <p>直接查询图谱数据库</p>
                    </div>
                <div class="col-md-12">
                    <div id="quadclass_graph1" style="width: 100%;height: 600px"></div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row" id="res2" style="display: none">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <h3 class="headline first-child"><span class="fa fa-area-chart"></span></h3>
                <div class="col-md-12">
                    <h1>图谱表联立新闻原文热度时间线</h1>
                    <h1 id="numall8">回溯总量:0</h1>
                    <p>首先查询图谱数据库，然后将图谱数据关联映射为英文新闻数据；最后对英文新闻数据进行分析</p>
                    </div>
                <div class="col-md-12">
                    <div id="quadclass_graph2" style="width: 100%;height: 600px"></div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row" id="res3" style="display: none">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <h3 class="headline first-child"><span class="fa fa-area-chart"></span></h3>
                <div class="col-md-12">
                    <h1>图谱表联立事件热度时间线</h1>
                    <h1 id="numall9">回溯总量:0</h1>
                    <p>首先查询图谱数据库，然后将图谱数据关联映射为事件数据；最后对事件数据进行分析</p>
                </div>
                <div class="col-md-12">
                    <div id="quadclass_graph3" style="width: 100%;height: 600px"></div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    {% endblock %}
</body>

</html>

    {% block js %}
        {{ block.super }}
        <script>
    var cnt = 1;
    function click2() {
        cnt++;
        $('#actor_div').append('<div class="col-md-6"> <label for="actor1_country" class="control-label"><h4>关键词1</h4></label><input type="text" class="form-control" name="actor1_1" id="actor'+cnt+'_1" placeholder="关键词1"> </div> <div class="col-md-6"> <label for="actor2_country" class="control-label"><h4>关键词2</h4></label> <input type="text" class="form-control" name="actor1_2" id="actor'+cnt+'_2" placeholder="关键词2"> </div>');
    }
    function click3() {
        startdate = $('#start').val();
        enddate = $('#end').val();
        startdate = date_split(startdate);
        enddate = date_split(enddate);
        actor_all=$('#actor_all').val();
        actor_one=$('#actor_one').val();
        actor_null=$('#actor_null').val();
        console.log(startdate);
        console.log(enddate);
        console.log(actor_all);
        console.log(actor_one);
        console.log(actor_null);
        $.get('/api/gkg/', {'actor_all': actor_all, 'actor_one': actor_one, 'actor_null':actor_null,'start': startdate, 'end': enddate }, function (data) {
            console.log(data);
            $('#res1').css('display','inherit');
            $('#res2').css('display','inherit');
            $('#res3').css('display','inherit');
            draw_hot_charts('quadclass_graph1','数据时间线',data['7']);
            draw_hot_charts('quadclass_graph2','数据时间线',data['8']);
            draw_hot_charts('quadclass_graph3','数据时间线',data['9']);
            $('#submit_button').text('回溯完成');
            $('#numall7').text('回溯总量：'+data['7_all']);
            $('#numall8').text('回溯总量：'+data['8_all']);
            $('#numall9').text('回溯总量：'+data['9_all']);
            alert(data['msg']);
        });
    };
    </script>
    {% endblock %}