<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
    <meta charset="utf-8">
    <link rel="icon" href="https://static.jianshukeji.com/highcharts/images/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        /* css 代码  */
    </style>
    <script src="https://img.hcharts.cn/jquery/jquery-1.8.3.min.js"></script>
    <script src="https://img.hcharts.cn/highcharts/highcharts.js"></script>
    <script src="https://img.hcharts.cn/highcharts/modules/exporting.js"></script>
    <script src="https://img.hcharts.cn/highcharts/modules/oldie.js"></script>
    <script src="https://img.hcharts.cn/highcharts-plugins/highcharts-zh_CN.js"></script>
    {% load staticfiles %}
    <script src="{% static 'js/hot_chart.js' %}"></script>
    <script src="{% static 'js/hot_chart2.js' %}"></script>
    <script type="text/javascript" src="{%static "js/echarts.js" %}"></script>
</head>

<body>
    <div id="test">
        <span>施事者姓名:</span><input type="text" name="actor1_1" id="actor1_1" />
        <span>受事者姓名:</span><input type="text" name="actor1_2" id="actor1_2" />
        <span>事件:</span>
        <span>事件</span>
        <select id="code">
            <option value="口头合作">口头合作</option>
            <option value="实际合作">实际合作</option>
            <option value="合作">合作</option>
            <option value="口头冲突">口头冲突</option>
            <option value="实际冲突">实际冲突</option>
            <option value="冲突">冲突</option>
            <option value="全部">全部</option>
        </select>
        <span>开始时间</span><input type="date" name="start" id="start" />
        <span>截止时间</span><input type="date" name="end" id="end" />
        <input type="button" onclick="click3()" value="Submit" />
        <button onclick="click2()"><span>添加</span></button>
    </div>
    <div class="col-md-10">
        <h3 class="headline first-child"><span class="fa fa-area-chart"></span></h3>
        <div class="col-md-12">
            <h1 id="quad1">公开声明时间线</h1>
        </div>
        <div class="col-md-12">
            <div id="quadclass_1" style="width: 100%;height: 600px"></div>
        </div>
    </div>
    <div class="col-md-10">
        <h3 class="headline first-child"><span class="fa fa-area-chart"></span></h3>
        <div class="col-md-12">
            <h1 id="quad2"></h1>
        </div>
        <div class="col-md-12">
            <div id="quadclass_2" style="width: 100%;height: 600px"></div>
        </div>
    </div>
    <div class="col-md-10">
        <h3 class="headline first-child"><span class="fa fa-area-chart"></span></h3>
        <div class="col-md-12">
            <h1 id="quad3"></h1>
        </div>
        <div class="col-md-12">
            <div id="quadclass_3" style="width: 100%;height: 600px"></div>
        </div>
    </div>
    <div class="col-md-10">
        <h3 class="headline first-child"><span class="fa fa-area-chart"></span></h3>
        <div class="col-md-12">
            <h1 id="quad4"></h1>
        </div>
        <div class="col-md-12">
            <div id="quadclass_4" style="width: 100%;height: 600px"></div>
        </div>
    </div>
    <div class="col-md-10">
        <h3 class="headline first-child"><span class="fa fa-area-chart"></span></h3>
        <div class="col-md-12">
            <h1 id="quad5"></h1>
        </div>
        <div class="col-md-12">
            <div id="quadclass_5" style="width: 100%;height: 600px"></div>
        </div>
    </div>
    <div class="col-md-10">
        <h3 class="headline first-child"><span class="fa fa-area-chart"></span></h3>
        <div class="col-md-12">
            <h1>根类数据时间线</h1>
            <p>根类数据时间线以时间为单位，展示与时间对应的的根类数据，包括(口头合作)Verbal Cooperation，(物质合作)Material Cooperation，(口头冲突)Verbal
                Conflict，(物质冲突)Material Conflict 4种数据，形成时间-根类数据变化曲线图。</p>
        </div>
        <div class="col-md-12">
            <div id="quadclass_graph" style="width: 100%;height: 600px"></div>
        </div>
    </div>
</body>

</html>

<script>
    var cnt = 1;
    function click2() {
        cnt++;
        $('#test').append('<div><span>施事者姓名1:</span><input type="text" name="actor' + cnt + '_1" id="actor' + cnt + '_1" /><span>受事者姓名2:</span><input type="text" name="actor' + cnt + '_2" id="actor' + cnt + '_2" /></div>');
    }
    function click3() {
        var actor1_list = [], actor2_list = [];
        for (var i = 1; i <= cnt; i++) {
            actor1_list.push($('#actor' + i + '_1').val());
            actor2_list.push($('#actor' + i + '_2').val());
        }
        event = $('#code option:selected ').val();
        startdate = $('#start').val();
        enddate = $('#end').val();
        startdate = date_split(startdate);
        enddate = date_split(enddate);
        console.log(actor1_list);
        console.log(actor2_list);
        console.log(event);
        console.log(startdate);
        console.log(enddate);
        $.get('/api/event5/', { 'actor1': actor1_list, 'actor2': actor2_list, 'event': event, 'start': startdate, 'end': enddate }, function (data) {
            console.log(data);
            draw_hot_charts('quadclass_graph', '数据时间线', data)
            //draw_hot_chart(data, 'container','事件热度曲线');
        })
    }
    data = {
        'time': ['20180401', '20180402', '20180403', '20180404', '20180405', '20180406', '20180407', '20180408', '20180409', '20180410'],
        'legend': ['口头合作', '实际合作', '口头冲突', '实际冲突'], 'data': [
            { 'name': '口头合作', 'type': 'line', 'smooth': 'true', 'data': [33, 33, 54, 27, 41, 44, 0, 0, 0, 0] },
            { 'name': '实际合作', 'type': 'line', 'smooth': 'true', 'data': [53, 65, 137, 79, 151, 96, 0, 0, 0, 0] },
            { 'name': '口头冲突', 'type': 'line', 'smooth': 'true', 'data': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0] },
            { 'name': '实际冲突', 'type': 'line', 'smooth': 'true', 'data': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0] }]
    }
    draw_hot_charts('quadclass_graph', '数据时间线', data);
    var event_code_map_reverse={1: '官方声明', 2: '上诉', 3: '表达合作意向', 4: '咨询',
                5: '从事外交合作', 6: '开展物质合作', 7: '提供援助', 8: '投降', 9: '研究',
                10: '需求', 11: '反对', 12: '拒绝', 13: '威胁', 14: '抗议', 15: '展示力量部署',
                16: '减少联系', 17: '强迫', 18: '突击', 19: '战斗',20:'非常规大规模暴力'}
    data2 = {
        4: { 'time': ['20180401', '20180402', '20180403', '20180404', '20180405', '20180406', '20180407', '20180408', '20180409', '20180410'], 'legend': ['事件热度'], 'data': [{ 'name': ['事件热度'], 'type': 'line', 'smooth': 'true', 'data': [16, 15, 26, 11, 17, 20, 0, 0, 0, 0] }] },
        5: { 'time': ['20180401', '20180402', '20180403', '20180404', '20180405', '20180406', '20180407', '20180408', '20180409', '20180410'], 'legend': ['事件热度'], 'data': [{ 'name': ['事件热度'], 'type': 'line', 'smooth': 'true', 'data': [17, 18, 28, 16, 24, 24, 0, 0, 0, 0] }] },
        6: { 'time': ['20180401', '20180402', '20180403', '20180404', '20180405', '20180406', '20180407', '20180408', '20180409', '20180410'], 'legend': ['事件热度'], 'data': [{ 'name': ['事件热度'], 'type': 'line', 'smooth': 'true', 'data': [17, 21, 43, 24, 47, 31, 0, 0, 0, 0] }] },
        7: { 'time': ['20180401', '20180402', '20180403', '20180404', '20180405', '20180406', '20180407', '20180408', '20180409', '20180410'], 'legend': ['事件热度'], 'data': [{ 'name': ['事件热度'], 'type': 'line', 'smooth': 'true', 'data': [17, 21, 43, 25, 52, 32, 0, 0, 0, 0] }] },
        8: { 'time': ['20180401', '20180402', '20180403', '20180404', '20180405', '20180406', '20180407', '20180408', '20180409', '20180410'], 'legend': ['事件热度'], 'data': [{ 'name': ['事件热度'], 'type': 'line', 'smooth': 'true', 'data': [19, 23, 51, 30, 52, 33, 0, 0, 0, 0] }] }
    }
    for(var i=1;i<=20;i++)
    {
        if (i in data2) {
            //$('#quad'+i).text(event_code_map_reverse[i]+'时间线');
            data2[i]['legend'][0]=event_code_map_reverse[i]+'时间线';
            draw_hot_charts('quadclass_'+i, '数据时间线', data2[i]);
        }
    }
</script>