{% extends 'base_event.html' %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta charset="utf-8">
    <link rel="icon" href="https://static.jianshukeji.com/highcharts/images/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        /* css 代码  */
    </style>
    <script src="https://img.hcharts.cn/jquery/jquery-1.8.3.min.js"></script>
    <script src="https://img.hcharts.cn/highcharts/highcharts.js"></script>
    <script src="https://img.hcharts.cn/highcharts/modules/exporting.js"></script>
    <script src="https://img.hcharts.cn/highcharts/modules/oldie.js"></script>
    <script src="https://img.hcharts.cn/highcharts-plugins/highcharts-zh_CN.js"></script>
    {% load staticfiles %}
    <script src="{% static 'js/info_base.js' %}"></script>
    <script src="{% static 'js/hot_chart2.js' %}"></script>
    <script type="text/javascript" src="{%static "js/echarts.js" %}"></script>
</head>

<body>
    {% block event_title %}
        <div class="row">
        <div class="col-md-2"></div>
        <div class="form-group event-time col-md-8">
            <div>
                <h3 class="headline first-child"><span> 方案4-6</span></h3>
                <p>查询event数据库</p>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
    {% endblock %}
    {% block chart %}
        <div class="row" id="res1" style="display: none">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <h3 class="headline first-child"><span class="fa fa-area-chart"></span></h3>
                <div class="col-md-12">
                    <h1>方案4根类数据时间线</h1>
                    <p>查询GD事件数据库</p>
                    </div>
                <div class="col-md-12">
                    <div id="quadclass_graph1" style="width: 100%;height: 600px"></div>
                </div>
                <div class="col-md-12">
                    <div id="quadclass_graph4" style="width: 100%;height: 600px"></div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row" id="res2" style="display: none">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <h3 class="headline first-child"><span class="fa fa-area-chart"></span></h3>
                <div class="col-md-12">
                    <h1>方案5根类数据时间线</h1>
                    <p>首先查询GD事件数据库，然后将GD事件数据关联映射为英文新闻数据；最后对英文新闻数据进行分析</p>
                    </div>

                <div class="col-md-12">
                    <div id="quadclass_graph5" style="width: 100%;height: 600px"></div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row" id="res3" style="display: none">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <h3 class="headline first-child"><span class="fa fa-area-chart"></span></h3>
                <div class="col-md-12">
                    <h1>方案6根类数据时间线</h1>
                    <p>首先查询GD事件数据库，然后将GD事件数据关联映射为GD图谱数据；最后对GD图谱数据进行分析</p>
                </div>

                <div class="col-md-12">
                    <div id="quadclass_graph6" style="width: 100%;height: 600px"></div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    {% endblock %}
</body>

</html>

    {% block js %}
        {{ block.super }}
        <script>
    var cnt = 1;
    function click2() {
        cnt++;
        $('#actor_div').append('<div class="col-md-6"> <label for="actor1_country" class="control-label"><h4>角色1</h4></label><input type="text" class="form-control" name="actor1_1" id="actor'+cnt+'_1" placeholder="actor1"> </div> <div class="col-md-6"> <label for="actor2_country" class="control-label"><h4>角色2</h4></label> <input type="text" class="form-control" name="actor1_2" id="actor'+cnt+'_2" placeholder="actor2"> </div>');
    }
    function click3() {
        var actor1_list = [], actor2_list = [];
        for (var i = 1; i <= cnt; i++) {
            actor1_list.push($('#actor' + i + '_1').val());
            actor2_list.push($('#actor' + i + '_2').val());
        }
        event = $('#code option:selected ').val();
        startdate = $('#start').val();
        enddate = $('#end').val();
        startdate = date_split(startdate);
        enddate = date_split(enddate);
        console.log(actor1_list);
        console.log(actor2_list);
        console.log(event);
        console.log(startdate);
        console.log(enddate);
        $.get('/api/events/', { 'actor1': actor1_list, 'actor2': actor2_list, 'event': event, 'start': startdate, 'end': enddate }, function (data) {
            console.log("!!!!");
            console.log(data);
            $('#res1').css('display','inherit');
            $('#res2').css('display','inherit');
            $('#res3').css('display','inherit');
            draw_hot_charts('quadclass_graph1', '数据时间线', data['4']['data']);
            draw_hot_charts('quadclass_graph4', '数据时间线', data['4']['all']);
            //draw_hot_charts('quadclass_graph2', '数据时间线', data['5']['data']);
            draw_hot_charts('quadclass_graph5', '数据时间线', data['5']);
            //draw_hot_charts('quadclass_graph3', '数据时间线', data['6']['data']);
            draw_hot_charts('quadclass_graph6', '数据时间线', data['6']);
            $('#submit_button').text('回溯完成');
        });
    };
    </script>
    {% endblock %}